:global(:root){
  --primary-color: #FFCF69;
  --dark-color: #202227;
  --darker-color: #191A1E;
  --gray-color: #2E3137;
  --red-color: #D84727;
  --green-color: #47A330;
}

.color-primary {
  color: var(--primary-color);
}

.color-dark {
  color: var(--dark-color);
}

.color-gray {
  color: var(--gray-color);
}
